.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Akrobat";
  src: url("Akrobat-Regular.eot");
  src: local("Akrobat Regular"), local("Akrobat-Regular"), url("Akrobat-Regular.eot?#iefix") format("embedded-opentype"),
    url("Akrobat-Regular.woff") format("woff"), url("Akrobat-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("Akrobat-ExtraLight.eot");
  src: local("Akrobat ExtraLight"), local("Akrobat-ExtraLight"),
    url("Akrobat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("Akrobat-ExtraLight.woff") format("woff"),
    url("Akrobat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("Akrobat-SemiBold.eot");
  src: local("Akrobat SemiBold"), local("Akrobat-SemiBold"),
    url("Akrobat-SemiBold.eot?#iefix") format("embedded-opentype"), url("Akrobat-SemiBold.woff") format("woff"),
    url("Akrobat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("Akrobat-Light.eot");
  src: local("Akrobat Light"), local("Akrobat-Light"), url("Akrobat-Light.eot?#iefix") format("embedded-opentype"),
    url("Akrobat-Light.woff") format("woff"), url("Akrobat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("Akrobat-Black.eot");
  src: local("Akrobat Black"), local("Akrobat-Black"), url("Akrobat-Black.eot?#iefix") format("embedded-opentype"),
    url("Akrobat-Black.woff") format("woff"), url("Akrobat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("Akrobat-Bold.eot");
  src: local("Akrobat Bold"), local("Akrobat-Bold"), url("Akrobat-Bold.eot?#iefix") format("embedded-opentype"),
    url("Akrobat-Bold.woff") format("woff"), url("Akrobat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("Akrobat-Thin.eot");
  src: local("Akrobat Thin"), local("Akrobat-Thin"), url("Akrobat-Thin.eot?#iefix") format("embedded-opentype"),
    url("Akrobat-Thin.woff") format("woff"), url("Akrobat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: url("Akrobat-ExtraBold.eot");
  src: local("Akrobat ExtraBold"), local("Akrobat-ExtraBold"),
    url("Akrobat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("Akrobat-ExtraBold.woff") format("woff"),
    url("Akrobat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  overflow-x: hidden;
  color: #000000;
  font-family: "Akrobat", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

.e-header {
  display: block;
  padding: 15px 0 18px 0;
  border-bottom: 5px solid #fdac1f;
  background: linear-gradient(to right, #0d78ff 0%, #54a2ff 100%);
  &__mob {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &__toggle {
    display: none;
    padding: 0 0 10px 10px;
    filter: brightness(0) invert(1);
  }
  &__logo {
    display: block;
    margin: 0;
    img,
    svg {
      display: block;
      max-width: 110px;
    }
    &-text {
      display: block;
      margin: 9px 0 0 0;
      color: #ffffff;
      font-family: Roboto;
      font-size: 10px;
      font-weight: 400;
      line-height: 1.3;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 22px 0;
  }
  &__info {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    sup {
      font-size: 8px;
    }
  }
  &__link {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #fdac1f;
      text-decoration: none;
    }
  }
  &__phone {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #fdac1f;
      text-decoration: none;
    }
  }
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 4;
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      & > a {
        display: inline-block;
        padding: 21px 25px;
        color: #4b4b4b;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #fdac1f;
          text-decoration: none;
        }
      }
    }
  }
  &__button {
    display: inline-block;
    padding: 12px 24px;
    box-shadow: 0 -1px 1px rgba(0, 38, 85, 0.84);
    border-radius: 5px;
    background-image: linear-gradient(to top, #0d78ff 0%, #54a2ff 100%);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-image: linear-gradient(to top, #4699ff 0%, #6caeff 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__dropper {
    position: relative;
    &:hover {
      &>a {
        color: #fdac1f;
      }
      & > ul {
        display: block;
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: -5px;
    width: 295px;
    margin: 0;
    padding: 12px 0 0 0;
    list-style: none;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.27);
    border-radius: 0 0 5px 5px;
    background: #d08e19;
    z-index: 4;
    /* &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 22px;
      margin: 0 0 20px 0;
      border-radius: 5px;
      background-color: #fbab1f;
      z-index: -1;
    } */
    & > li {
      display: block;
      &:first-child {
        & > a {
          border-radius: 5px 5px 0 0;
        }
      }
      &:last-child {
        & > a {
          padding-bottom: 26px;
          border-radius: 0 0 5px 5px;
        }
      }
      & > a {
        display: block;
        width: 100%;
        padding: 12px 25px;
        background: #ffffff;
        color: #4b4b4b;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background: #fbab1f;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__subdropper {
    &:hover {
      &>a {
        background: #fbab1f;
        color: #ffffff;
      }
      & > ul {
        display: block;
      }
    }
  }
  &__subdrop {
    display: none;
    position: absolute;
    top: 12px;
    left: 100%;
    width: 295px;
    min-height: calc(100% - 12px);
    margin: 0;
    padding: 26px 0 26px 0;
    list-style: none;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    background: #ffffff;
    z-index: 2;
    & > li {
      display: block;
      & > a {
        display: block;
        width: 100%;
        padding: 8px 35px;
        color: #4b4b4b;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #0d77ff;
          text-decoration: none;
        }
      }
    }
  }
}

.e-home {
  display: block;
  position: relative;
  width: 100%;
  min-height: 710px;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    background: #0d76ff;
    z-index: -1;
  }
  &:after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50vw;
    height: 100%;
    background: #09dcff;
    z-index: -1;
  }
  &__video {
    display: block;
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
  }
  &__title {
    display: block;
    max-height: 72px;
    overflow: hidden;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
  }
  &__text {
    display: block;
    max-height: 72px;
    overflow: hidden;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &-card {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 340px;
    margin: 0 20px 10px 0;
    &__image {
      display: inline-flex;
      align-items: center;
      width: 145px;
      height: 140px;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: inline-block;
      margin: 0;
      padding-left: 10px;
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__button {
    display: inline-block;
    margin: 10px 0;
    padding: 18px 29px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background: linear-gradient(to top, #fdac1f 0%, #ffbf50 100%);
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: linear-gradient(to top, #ffbc49 0%, #ffc766 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-home-help {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -125px;
  padding: 170px 0 80px 0;
  background: url("../images/home_help_svg.svg");
  background-size: auto 100%;
  background-position: center top;
  pointer-events: none;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #4b4b4b;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 225px;
    min-height: 440px;
    margin: 0;
    padding: 0 15px 15px 15px;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .hover_me {
        fill: url(#LinearGradient1045);
      }
      .hover_shadow {
        fill: #0f79ff;
        fill-opacity: 0.4;
      }
      text-decoration: none;
      .e-home-help-card__title {
        color: #ffffff;
      }
      .e-home-help-card__text {
        color: #ffffff;
      }
    }
    .hover_me {
      transition: all 0.2s ease-out;
    }
    .hover_shadow {
      transition: all 0.2s ease-out;
    }
    & > svg {
      position: absolute;
      top: -24px;
      left: -34px;
      width: calc(100% + (34px + 34px));
      /* height: calc(100% + 24px); */
      z-index: 1;
      transition: all 0.2s ease-out;
    }
    &__image {
      display: flex;
      position: relative;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 215px;
      z-index: 2;
      img,svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      position: relative;
      height: 64px;
      overflow: hidden;
      margin: 10px 0 16px 0;
      color: #0d77ff;
      font-size: 27px;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease-out;
      z-index: 2;
    }
    &__text {
      display: block;
      position: relative;
      max-height: 64px;
      overflow: hidden;
      margin: 0;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      z-index: 2;
    }
  }
}

.e-consult {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 50px 0;
  background: #ffffff;
  &_service {
    padding: 70px 0;
    background: #f4f9ff;
  }
  &__title {
    display: block;
    margin: 0 0 24px 0;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 42px 0;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__input {
    display: inline-block;
    position: relative;
    margin: 0 20px 20px 0;
    &-icon {
      display: block;
      position: absolute;
      top: 16px;
      left: 12px;
      max-width: 32px;
      max-height: 32px;
      z-index: 1;
    }
    input {
      display: block;
      width: 100%;
      max-width: 300px;
      padding: 19px 12px 19px 64px;
      border-radius: 5px;
      border: 1px solid #cbcbcb;
      outline: none;
      background-color: #ffffff;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 300;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #fdac1f;
      }
    }
  }
  &__button {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 19px 62px;
    border: 0;
    outline: none;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-image: linear-gradient(to top, #fdac1f 0%, #ffbf50 100%);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: linear-gradient(to top, #ffbc49 0%, #ffc766 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 7px 0;
    opacity: 0.5;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
  }
  &__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-width: 406px;
    margin-left: auto;
  }
}

.e-wrap {
  display: block;
  position: relative;
  width: 100%;
  background: url("../images/home_team.png") no-repeat center top;
  background-size: 100% 100%;
}

.e-team {
  display: block;
  padding: 90px 0;
  &__prewrap {
    display: block;
    position: relative;
    margin: 40px 0;
    padding: 70px 0;
  }
  &__wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 255px;
    padding: 107px 0;
    overflow: hidden;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 91px;
      background-image: linear-gradient(to top, rgba(248, 248, 248, 0) 0%, #f8f8f8 100%);
      z-index: 2;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 91px;
      background-image: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, #f8f8f8 100%);
      z-index: 2;
    }
  }
  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  &__preview {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    overflow: visible !important;
    &-card {
      display: block;
      margin: 0;
      color: rgba(75, 75, 75, 0.7);
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      transition: all 0.2s ease-out;
    }
    .swiper-slide-active.swiper-slide-thumb-active {
      .e-team__preview-card {
        color: #0d77ff;
        font-size: 30px;
        font-weight: 700;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    left: 0;
    margin: 0 0 0 10px;
    outline: none;
    transform: rotate(90deg);
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-prev {
    top: 0;
  }
  .swiper-button-next {
    top: auto;
    bottom: 0;
  }
  &__view {
    display: block;
    position: relative;
    width: 100%;
    height: 485px;
    overflow: hidden;
    &-card {
      display: block;
      /* padding-top: 3px; */
      &-svg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: url("../images/team_svg.svg") no-repeat center center;
        background-size: contain;
        transition: all 0.25s ease-out;
      }
      &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 478px;
        height: 479px;
        margin-left: 54px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: -52px;
          top: 50%;
          width: 80px;
          height: 32px;
          margin-top: -18px;
          background: #f8f8f8 url("../images/team_before.svg") no-repeat center center;
          background-size: contain;
          z-index: 1;
        }
        &:after {
          display: block;
          position: absolute;
          content: "";
          right: -48px;
          top: 50%;
          width: 37px;
          height: 1px;
          margin-top: -1px;
          background: url("../images/team_after.svg") no-repeat center center;
          background-size: contain;
          z-index: 1;
        }
        img,
        svg {
          position: relative;
          max-width: 413px;
          max-height: 413px;
          border-radius: 999rem;
          z-index: 1;
        }
      }
      &-name {
        display: block;
        margin: 0 0 18px 0;
        color: #4b4b4b;
        font-size: 30px;
        font-weight: 700;
      }
      &-who {
        display: block;
        height: 144px;
        overflow: hidden;
        margin: 0 0 18px 0;
        color: #4b4b4b;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
      }
      &-button {
        display: inline-block;
        margin: 0 0 40px 0;
        padding: 14px 28px;
        box-shadow: 0 5px 24px rgba(0, 0, 0, 0.19);
        border-radius: 5px;
        background-image: linear-gradient(to top, #0d78ff 0%, #54a2ff 100%);
        text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
        color: #ffffff;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background-image: linear-gradient(to top, #4699ff 0%, #6caeff 100%);
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.e-cases {
  display: block;
  position: relative;
  width: 100%;
  padding: 65px 0;
  &_service {
    padding: 125px 0 65px 0;
    .e-cases-card {
      transform: scale(0.98);
      box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.05);
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 120px !important;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #8a8a8a;
  }
  .swiper-pagination-bullet-active {
    background: #464646;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 60px;
    margin: 0;
    outline: none;
    &:after,
    &:before {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-next {
    width: 39px;
    height: 39px;
    left: auto;
    right: 0;
    background: url("../images/icon_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    width: 39px;
    height: 39px;
    left: auto;
    right: 65px;
    background: url("../images/icon_prev.png") no-repeat center center;
    background-size: contain;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__cards {
    display: block;
    padding-bottom: 70px;
  }
  &-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    &__left {
      display: inline-block;
      width: 440px;
      padding: 40px 50px 40px 40px;
    }
    &__right {
      display: inline-block;
      width: 338px;
      height: 100%;
      min-height: 404px;
      padding: 42px 42px 40px 42px;
      border-radius: 0 5px 5px 0;
      background: #f8f8f8;
    }
    &__content {
      display: inline-block;
      width: 395px;
      padding: 38px 32px 42px 0;
    }
    &__title {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 0 0 30px 0;
      color: #0d77ff;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
    }
    &__subtitle {
      display: block;
      margin: 0 0 24px 0;
      color: #4b4b4b;
      font-size: 16px;
      font-weight: 700;
    }
    &__text {
      display: block;
      margin: 0 0 22px 0;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
    &__price {
      display: inline-block;
      color: #4b4b4b;
      font-size: 20px;
      font-weight: 700;
    }
    &__info {
      display: block;
      height: 204px;
      overflow: hidden;
    }
    &__button {
      display: inline-block;
      padding: 9px 38px;
      box-shadow: 0 5px 24px rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      background: linear-gradient(to top, #fdac1f 0%, #ffbf50 100%);
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
      color: #ffffff;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: linear-gradient(to top, #ffbc49 0%, #ffc766 100%);
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__get {
      display: block;
      margin: 0 0 11px 0;
      color: #4b4b4b;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
    &__money {
      display: block;
      width: 100%;
      margin: 0 0 28px 0;
      padding: 11px;
      border-radius: 5px;
      border: 1px solid #0d77ff;
      background-color: #f8f8f8;
      color: #0d77ff;
      font-size: 25px;
      font-weight: 800;
      text-align: center;
    }
    &__wow {
      display: block;
      height: 214px;
      overflow: hidden;
      opacity: 0.6;
      p {
        display: block;
        margin: 0 0 10px 0;
        color: #4b4b4b;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: #4b4b4b;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        li {
          display: block;
          margin: 0 0 10px 0;
          &:before {
            content: "— ";
            color: #4b4b4b;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.2;
          }
        }
      }
    }
  }

  &__big {
    display: block;

    &-card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 250px;
      padding: 0;
      border-radius: 5px;
      background: #ffffff;
      transition: all 0.2s ease-out;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
      }
    }
  }

  &__small {
    display: block;
    margin: 9px 0 0 0;

    &-card {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 104px;
      height: 62px;
      border-radius: 5px;
      border: 2px solid transparent;
      background: #828282;
      transition: all 0.2s ease-out;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
      }
    }

    .swiper-slide {
      max-width: 104px;
    }
  }

  .swiper-slide-thumb-active {
    .e-cases__small-card {
      border: 2px solid #fdac1f !important;
    }
  }
}

.e-how {
  display: block;
  margin-top: -175px;
  padding: 260px 0 270px 0;
  background-image: linear-gradient(to right, #0d78ff 0%, #54a2ff 100%);
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: "";
      top: 75px;
      left: 130px;
      width: 900px;
      height: 1px;
      background-color: #fdfdfd;
      z-index: 0;
    }
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px auto;
    text-align: center;
    &__image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 150px;
      height: 150px;
      padding: 10px;
      border-radius: 999rem;
      box-shadow: 0 15px 27px rgba(18, 67, 126, 0.56);
      background-color: #fdfdfd;
      z-index: 1;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__number {
      display: block;
      position: absolute;
      top: 80px;
      left: calc(50% + 40px);
      color: #ffffff;
      font-size: 72px;
      font-weight: 900;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    }
    &__title {
      display: block;
      margin: 36px 0 20px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 800;
    }
    &__hr {
      display: block;
      width: 50px;
      height: 5px;
      border-radius: 3px;
      background-image: linear-gradient(to top, #fdac1f 0%, #ffbf50 100%);
    }
  }
}

.e-bottom {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -220px;
  background: url("../images/home_bottom_bg.png") no-repeat center top;
  background-size: 100% 100%;
}

.e-papers {
  display: block;
  position: relative;
  padding: 95px 0 30px 0;
  &_about {
    padding-top: 40px;
  }
  &__title {
    display: block;
    margin: 40px 0 18px 0;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__text {
    display: block;
    margin: 0 0 65px 0;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
  }
  &__cards {
    display: block;
    padding: 25px 0 45px 0;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 280px;
    margin: 0 10px;
    outline: none;
    padding: 5px;
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background: #ffffff;
    &__overlay {
      display: block;
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border-radius: 5px;
      background-color: rgba(20, 125, 255, 0.6);
      z-index: 1;
      opacity: 0;
      transition: all 0.2s ease-out;
    }
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      border-radius: 5px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-papers-card__overlay {
        opacity: 1;
      }
      text-decoration: none;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
    outline: none;
    &:after,
    &:before {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-next {
    width: 39px;
    height: 39px;
    margin-left: 25px;
    background: url("../images/icon_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    width: 39px;
    height: 39px;
    background: url("../images/icon_prev.png") no-repeat center center;
    background-size: contain;
  }
}

.e-qa {
  display: block;
  padding: 60px 0 40px 0;
  &_service {
    padding: 120px 0 90px 0;
  }
  &__title {
    display: block;
    margin: 0 0 44px 0;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: block;
  }
  &-card {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin: 0 0 10px 0;
    box-shadow: 0 10px 34px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
    &__content {
      display: inline-block;
      flex: 1 1 auto;
    }
    &__header {
      display: block;
      padding: 18px 22px;
      color: #4b4b4b;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__text {
      display: none;
      max-width: 800px;
      margin: 0;
      padding: 0 24px 26px 24px;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      p {
        margin: 0;
      }
    }
    &__close {
      display: inline-block;
      width: 60px;
      min-height: 60px;
      padding: 16px;
      border-radius: 0 5px 5px 0;
      background-color: #fdac1f;
      transition: all 0.2s ease-out;
      img,
      svg {
        max-width: 28px;
        max-height: 28px;
        transition: all 0.2s ease-out;
      }
      &_active {
        background: linear-gradient(to top, #0d78ff 0%, #54a2ff 100%);
        img,
        svg {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.e-home-seo {
  display: block;
  padding: 75px 0 110px 0;
  &_subservice {
    background-color: #f4f9ff;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__content {
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    p {
      margin: 0 0 8px 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 36px 0;
      color: #4b4b4b;
      font-weight: 800;
    }
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 40px;
      text-transform: uppercase;
    }
    h3 {
      font-size: 30px;
      text-transform: uppercase;
    }
    h4 {
      font-size: 27px;
      text-transform: uppercase;
    }
    h5 {
      font-size: 16px;
      text-transform: uppercase;
    }
    h6 {
      font-size: 12px;
      text-transform: uppercase;
    }
    hr {
      display: block;
      width: 100%;
      height: 1;
      margin: 65px 0 70px 0;
      padding: 0;
      background: #d0d5da;
    }
    a {
      color: #fdac1f;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #fdac1f;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      position: relative;
      max-width: 525px;
      margin: 0 0 30px 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        padding: 8px 0 8px 20px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 700;
        &:before {
          display: block;
          position: absolute;
          content: "";
          top: 10px;
          left: 0;
          width: 8px;
          height: 8px;
          border-radius: 999rem;
          box-shadow: 0 0 10px rgba(253, 172, 31, 0.5);
          background-color: #fdac1f;
        }
      }
    }
    blockquote {
      display: block;
      position: relative;
      width: 100%;
      max-width: 770px;
      margin: 5px 0 35px 0;
      padding: 12px 30px;
      color: #4b4b4b;
      font-size: 25px;
      font-weight: 300;
      line-height: 1.28;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        border-radius: 999rem;
        background: #fdac1f;
      }
    }
  }
}

.e-footer {
  display: block;
  padding: 50px 0 40px 0;
  background: #ffffff;
  &__logo {
    display: block;
    max-width: 177px;
    max-height: 135px;
    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0 0 0 20px;
    padding: 0 0 0 26px;
    list-style: none;
    border-left: 1px solid #0d77ff;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 2px 0;
        color: #4b4b4b;
        font-size: 20px;
        font-weight: 800;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #fbab1f;
          text-decoration: none;
        }
      }
    }
  }
  &__subnav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 0 26px;
    list-style: none;
    border-left: 1px solid #0d77ff;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 8px 0;
        color: #4b4b4b;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #fbab1f;
          text-decoration: none;
        }
      }
    }
  }
  &__social {
    display: block;
    padding-left: 8px;
    &-title {
      display: block;
      margin: 0 0 5px 0;
      opacity: 0.5;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }
    &-cards {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding-bottom: 14px;
    }
    &-card {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 39px;
      height: 39px;
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        transform: scale(0.95);
        text-decoration: none;
      }
    }
  }
  &__wrap {
    display: block;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: -20px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #0d77ff;
      z-index: 1;
    }
  }
}

.e-copyrights {
  display: block;
  padding: 3px;
  background-image: linear-gradient(to right, #0d78ff 0%, #54a2ff 100%);
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: inline-block;
    margin: 3px 0 3px 44px;
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 490px;
    padding: 48px 76px 20px 76px;
    border-radius: 5px;
    background: linear-gradient(to top, #0d78ff 0%, #54a2ff 100%);
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
  }
  &__input {
    display: inline-block;
    position: relative;
    margin: 0 0 17px 0;
    &-icon {
      display: block;
      position: absolute;
      top: 16px;
      left: 12px;
      max-width: 32px;
      max-height: 32px;
      z-index: 1;
    }
    input {
      display: block;
      width: 100%;
      max-width: 300px;
      padding: 19px 12px 19px 64px;
      border-radius: 5px;
      border: 1px solid #cbcbcb;
      outline: none;
      background-color: #ffffff;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 300;
      transition: all 0.2s ease-out;
      &:focus {
        border-color: #fdac1f;
      }
    }
  }
  &__button {
    display: inline-block;
    margin: 0 0 16px 0;
    padding: 19px 62px;
    border: 0;
    outline: none;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-image: linear-gradient(to top, #fdac1f 0%, #ffbf50 100%);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: linear-gradient(to top, #ffbc49 0%, #ffc766 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    max-width: 250px;
    margin: 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.e-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 18px 0;
  li {
    display: inline-block;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      margin: 2px 7px;
    }
  }
  a {
    opacity: 0.7;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #4b4b4b;
      text-decoration: none;
    }
  }
}

.e-page {
  display: block;
  position: relative;
  &__title {
    display: block;
    max-width: 720px;
    margin: 60px 0 46px 0;
    color: #4b4b4b;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    span,
    b,
    strong {
      color: #fdac1f;
    }
  }
}

.e-stocks {
  display: block;
  padding: 0 0 90px 0;
  &__cards {
    display: block;
    padding-bottom: 40px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 40px 30px 25px 40px;
    box-shadow: 0 6px 34px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-stocks-card__link {
        color: #fdac1f;
      }
      text-decoration: none;
    }
    &__image {
      display: block;
      width: 100%;
      max-width: 350px;
      height: 250px;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      max-height: 48px;
      overflow: hidden;
      margin: 0 0 26px 0;
      color: #0d77ff;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
    }
    &__date {
      display: block;
      margin: 0 0 26px 0;
      opacity: 0.6;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }
    &__text {
      display: block;
      height: 96px;
      overflow: hidden;
      margin: 0 0 30px 0;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.56;
    }
    &__right {
      display: block;
      text-align: right;
    }
    &__link {
      opacity: 0.8;
      color: #4b4b4b;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.28px;
      transition: all 0.2s ease-out;
    }
  }
}

.e-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  &_active {
    a {
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) !important;
      background-color: #fdac1f !important;
      color: #ffffff !important;
    }
  }
  li {
    display: inline-block;
    a {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      height: 40px;
      margin: 8px;
      padding: 4px;
      border-radius: 999rem;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      color: rgba(75, 75, 75, 0.8);
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        box-shadow: none;
        background-color: #f4f4f4;
        color: rgba(75, 75, 75, 0.8);
        text-decoration: none;
      }
    }
  }
}

.e-subservice {
  display: block;
  position: relative;
  &__content {
    display: block;
    position: relative;
    padding: 40px 0;
  }
  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #4b4b4b;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    span,
    b,
    strong {
      color: #fdac1f;
    }
  }
  &__text {
    display: block;
    margin: 0 0 50px 0;
    color: rgba(75, 75, 75, 0.7);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 18px 55px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background: linear-gradient(to top, #fdac1f 0%, #ffbf50 100%);
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: linear-gradient(to top, #ffbc49 0%, #ffc766 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__image {
    height: 600px;
    width: auto;
  }
  &__info {
    display: block;
    width: 100%;
    max-width: 472px;
    position: relative;
    margin: 0 0 57px 0;
    box-shadow: 0 2px 24px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: #ffffff;
  }
  &__card {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 234px;
    margin: 0;
    padding: 20px 30px;
    &:first-child {
      border-right: 1px solid #d9d9d9;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin-right: 15px;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-title {
      display: block;
      margin: 0 0 2px 0;
      opacity: 0.5;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }
    &-info {
      display: block;
      margin: 0;
      color: #4b4b4b;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.e-subservices {
  display: block;
  padding: 80px 0 90px 0;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  &__cards {
    display: block;
  }
  &-card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 30px auto;
    box-shadow: 0 6px 34px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .e-subservices-card__bottom {
        background: linear-gradient(to right, #0f79ff 0%, #52a1ff 100%);
        color: #ffffff;
        img,
        svg {
          filter: brightness(0) invert(1);
        }
      }
      text-decoration: none;
    }
    &__head {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      height: 250px;
      border-radius: 5px 5px 0 0;
      background-size: cover;
      background-position: center center;
    }
    &__price {
      display: inline-block;
      min-width: 170px;
      margin: 0;
      padding: 8px;
      background-color: #fdac1f;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
    &__title {
      display: block;
      width: 100%;
      height: 96px;
      overflow: hidden;
      margin: 0;
      padding: 23px 20px 25px 20px;
      color: #4b4b4b;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 19px 15px 19px 20px;
      border-radius: 0 0 5px 5px;
      border-top: 1px solid rgba(75, 75, 75, 0.12);
      background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
      color: #4b4b4b;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.28px;
      transition: all 0.2s ease-out;
      img,
      svg {
        transition: all 0.2s ease-out;
      }
    }
  }
}

.e-why {
  display: block;
  padding: 130px 0 110px 0;
  &__title {
    display: block;
    margin: 0 0 56px 0;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    span,
    b,
    strong {
      color: #fdac1f;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 378px;
    min-height: 280px;
    margin: 0 5px 10px 5px;
    padding: 20px 55px;
    background-color: #f8f8f8;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      margin: 0 0 20px 0;
      padding: 4px;
      border-radius: 999rem;
      box-shadow: 0 7px 34px 1px rgba(0, 0, 1, 0.1);
      background-color: #ffffff;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.13;
    }
  }
}

.e-about {
  display: block;
  &__description {
    display: block;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.56;
    p {
      margin: 0 0 30px 0;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.56;
    }
  }
  &__main {
    display: block;
    position: relative;
    width: 100%;
    margin: 80px 0;
    padding: 45px 0 55px 0;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: calc(100% + (1000vw - 1200px));
      height: 100%;
      border-radius: 5px 0 0 5px;
      background-image: linear-gradient(to right, #0d78ff 0%, #54a2ff 100%);
      z-index: -2;
    }
  }
  &__content {
    display: block;
    padding-left: 60px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.7;
    }
  }
  &__who {
    display: block;
    margin: 10px 0 6px 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__name {
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-size: 24px;
    font-weight: 800;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-image: linear-gradient(to top, #fdac1f 0%, #ffbf50 100%);
      z-index: 1;
    }
  }
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 470px;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 20px;
      top: 20px;
      background: transparent;
      border-radius: 5px;
      border: 2px solid #fdac1f;
      z-index: -1;
    }
  }
}

.e-whywe {
  display: block;
  position: relative;
  padding: 50px 0 80px 0;
  &__title {
    display: block;
    margin: 0 0 60px 0;
    color: #4b4b4b;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    span,
    b,
    strong {
      color: #fdac1f;
    }
  }
  &__content {
    display: block;
    padding: 0 0 20px 0;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.56;
    p {
      margin: 0 0 30px 0;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.56;
    }
  }
  &__button {
    display: inline-block;
    padding: 19px 62px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-image: linear-gradient(to top, #137bff 0%, #54a2ff 100%);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-image: linear-gradient(to top, #4699ff 0%, #6caeff 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    padding-left: 60px;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 235px;
    margin: 0 auto 36px auto;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      margin: 0 0 22px 0;
      padding: 4px;
      border-radius: 999rem;
      box-shadow: 0 7px 34px 1px rgba(0, 0, 1, 0.1);
      background-color: #ffffff;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      opacity: 0.6;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.e-case {
  display: inline-flex;
  align-items: stretch;
  position: relative;
  box-shadow: 0 10px 34px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    width: 585px;
    padding: 40px 40px 0 40px;
    border-radius: 5px 0 0 5px;
    background: #ffffff;
    &_light {
      border-radius: 0 5px 5px 0;
      background: #f8f8f8;
    }
    &__title {
      display: block;
      margin: 0 0 50px 0;
      font-size: 20px;
      font-weight: 800;
      color: #0d77ff;
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      text-transform: uppercase;
      text-align: center;
    }
    &__subtitle {
      display: block;
      margin: 0 0 10px 0;
      padding-bottom: 6px;
      border-bottom: 1px solid #d9d9d9;
      color: rgba(75, 75, 75, 0.8);
      font-size: 16px;
      font-weight: 700;
    }
    &__content {
      display: block;
      position: relative;
      width: 100%;
      padding-bottom: 15px;
      flex: 1 1 auto;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
    }
    &__price {
      display: inline-block;
      margin-bottom: -27px;
      padding: 19px 50px;
      border-radius: 5px;
      background-color: #fdac1f;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
    &__card {
      display: inline-flex;
      align-items: center;
      width: 100%;
      max-width: 190px;
      margin: 0 0 45px 0;
      color: #4b4b4b;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      img,
      svg {
        max-width: 40px;
        max-height: 40px;
        margin-right: 15px;
      }
    }
    &__info {
      display: block;
      position: relative;
      margin: 16px 0 0 0;
      padding-left: 16px;
      color: #9e9e9e;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 3px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 999rem;
        box-shadow: 0 0 10px rgba(253, 172, 31, 0.5);
        background-color: #fdac1f;
      }
      &:last-child {
        margin-bottom: 26px;
      }
      span,
      b,
      strong {
        color: #4b4b4b;
        font-weight: 400;
      }
    }
  }
}

.e-gallery {
  display: block;
  position: relative;
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
  padding: 145px 0 80px 0;
  overflow: visible;
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-slide-active {
    .e-gallery-card {
      max-width: 770px;
      height: 432px;
      box-shadow: 0 6px 34px 1px rgba(0, 0, 0, 0.15);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 53%;
    margin: 0;
    outline: none;
    &:after,
    &:before {
      display: none;
    }
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .swiper-button-next {
    width: 39px;
    height: 39px;
    left: auto;
    right: -75px;
    background: url("../images/icon_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    width: 39px;
    height: 39px;
    right: auto;
    left: -75px;
    background: url("../images/icon_prev.png") no-repeat center center;
    background-size: contain;
  }
  &-card {
    display: block;
    width: 100%;
    max-width: 445px;
    height: 280px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #828282;
    background-position: center center;
    background-size: cover;
  }
}

.e-case-wrap {
  display: block;
  background: #f4f9ff;
}

.e-case-content {
  display: block;
  padding: 135px 0 30px 0;
  color: #4b4b4b;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  p {
    display: block;
    max-width: 525px;
    margin: 0 0 35px 0;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.56;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 36px 0;
    color: #4b4b4b;
    font-weight: 800;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 30px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 27px;
    text-transform: uppercase;
  }
  h5 {
    font-size: 16px;
    text-transform: uppercase;
  }
  h6 {
    font-size: 12px;
    text-transform: uppercase;
  }
  hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 65px 0 70px 0;
    padding: 0;
    background: #d0d5da;
  }
  a {
    color: #fdac1f;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #fdac1f;
      text-decoration: none;
    }
  }
  ul {
    display: block;
    position: relative;
    max-width: 525px;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      padding: 8px 0 8px 20px;
      color: #4b4b4b;
      font-size: 14px;
      font-weight: 700;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
        border-radius: 999rem;
        box-shadow: 0 0 10px rgba(253, 172, 31, 0.5);
        background-color: #fdac1f;
      }
    }
  }
  blockquote {
    display: block;
    position: relative;
    width: 100%;
    max-width: 770px;
    margin: 5px 0 35px 0;
    padding: 12px 30px;
    color: #4b4b4b;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.28;
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      border-radius: 999rem;
      background: #fdac1f;
    }
  }
  .table {
    margin: 10px 0 30px 0;
    /* box-shadow: 0 10px 34px 1px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    background-color: #ffffff;
    thead {
      border-radius: 5px 5px 0 0;
      background-image: linear-gradient(to right, #0d78ff 0%, #53a1ff 100%);
    }
  }
  .table thead th {
    padding: 22px 20px;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    &:first-child {
      border-radius: 5px 0 0 0;
    }
    &:last-child {
      border-radius: 0 5px 0 0;
    }
  }
  .table td,
  .table th {
    padding: 18px 20px;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 5px 0 20px 0;
    border-radius: 5px;
  }
}

.e-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 75px 0;
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    padding: 35px 30px 30px 30px;
    box-shadow: 0 10px 34px 1px rgba(0, 0, 1, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 2;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #4b4b4b;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__card {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 16px 0;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }
  &__image {
    display: block;
    width: 35px;
    max-height: 35px;
    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__text {
    max-width: 270px;
    margin: 0;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }
  &__link {
    max-width: 270px;
    color: #4b4b4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #fdac1f;
      text-decoration: none;
    }
  }
  &__button {
    display: block;
    margin: 30px 0 0 0;
    padding: 16px;
    box-shadow: 0 5px 24px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background: linear-gradient(to top, #fdac1f 0%, #ffbf50 100%);
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: linear-gradient(to top, #ffbc49 0%, #ffc766 100%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__more {
    display: block;
    margin: 10px 0 0 0;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid #0d79ff;
    background: transparent;
    color: #0d79ff;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background: #0d79ff;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.e-cases .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  outline: none;
}

#map {
  display: block;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .e-header__row {
    padding: 20px 0;
  }
  .e-header__nav > li {
    display: block;
    text-align: center;
    a {
      display: block;
      text-align: center;
    }
  }
  .e-header__dropper:hover > ul {
    display: none;
  }
  .e-header__wrap {
    display: block;
  }
  .e-header__button {
    display: block;
  }
  .e-home {
    padding-bottom: 40px;
    background-size: cover;
  }
  .e-header__row {
    display: none;
  }
  .e-header__wrap {
    display: none;
  }
  .e-home__title {
    font-size: 42px;
  }
  .e-home__text {
    font-size: 16px;
  }
  .e-home-cards {
    justify-content: space-around;
  }
  .e-home-card {
    margin: 0;
  }
  .e-home-help {
    padding: 30px 0;
  }
  .e-home-help__title {
    margin-bottom: 20px;
    font-size: 21px;
  }
  .e-home-help__cards {
    justify-content: center;
    align-items: stretch;
  }
  .e-home-help-card {
    min-height: auto;
    margin: 0 10px 10px 10px;
    box-shadow: 0 10px 34px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    svg {
      display: none;
    }
  }
  .e-consult {
    padding: 30px 0;
  }
  .e-consult__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .e-consult__text {
    margin-bottom: 20px;
  }
  .e-consult__image {
    display: none;
  }
  .e-wrap {
    background-size: cover;
  }
  .e-bottom {
    margin: 0;
    background-size: cover;
  }
  .e-team {
    padding: 30px 0;
  }
  .e-team__title {
    margin-bottom: 10px;
  }
  .e-team__view-card-image {
    max-width: 250px;
    height: 250px;
  }
  .e-team__view-card-image img,
  .e-team__view-card-image svg {
    max-width: 100%;
    max-height: 100%;
  }
  .e-team__prewrap {
    margin: 0;
    padding: 40px 0;
  }
  .e-team__view-card-who {
    height: 98px;
  }
  .e-cases {
    padding: 30px 0;
  }
  .e-cases__title {
    font-size: 24px;
  }
  .e-cases-cards {
    overflow: hidden;
  }
  .e-cases-card {
    flex-flow: column nowrap;
    padding: 10px;
  }
  .e-cases__big-card {
    height: 220px;
  }
  .e-cases-card__left {
    width: 100%;
    padding: 10px;
  }
  .e-cases-card__content {
    width: 100%;
    padding: 10px;
  }
  .e-cases-card__right {
    width: 100%;
    padding: 10px;
  }
  .e-cases-card__title {
    margin-bottom: 10px;
  }
  .e-cases__cards {
    padding-bottom: 35px;
  }
  .e-how__cards:before {
    display: none;
  }
  .e-how {
    margin-top: -100px;
    padding: 130px 0 30px;
  }
  .e-how__title {
    margin-bottom: 30px;
  }
  .e-how-card__title {
    margin: 15px 0 10px 0;
  }
  .e-papers {
    padding: 30px 0 5px 0;
  }
  .e-papers__title {
    margin: 0 0 15px 0;
  }
  .e-papers__text {
    margin-bottom: 15px;
  }
  .e-qa {
    padding: 30px 0;
  }
  .e-qa__title {
    margin-bottom: 20px;
  }
  .e-home-seo__image {
    max-width: 100%;
    max-height: 100%;
    margin: 0 0 10px 0;
  }
  .e-home-seo {
    padding: 30px 0;
  }
  .e-footer {
    padding: 30px 0;
  }
  .e-footer__nav {
    margin: 10px 0;
    padding: 0;
    border: 0;
  }
  .e-footer__subnav {
    margin: 10px 0;
    padding: 0;
    border: 0;
  }
  .e-footer__wrap {
    &:before {
      display: none;
    }
  }
  .e-footer__social {
    padding: 0;
  }
  .e-copyrights {
    padding: 10 0px;
  }
  .e-copyrights__wrap {
    justify-content: space-around;
    text-align: center;
  }
  .e-copyrights__link {
    margin: 10px 10px 0 10px;
  }
  .e-footer__social {
    margin: 10px 0 0 0;
  }
  .e-modal__content {
    margin: 20px 0;
    padding: 50px 20px 20px 20px;
  }
  .e-modal__title {
    font-size: 25px;
  }
  .e-header__toggle {
    display: inline-block;
  }
  .e-page__title {
    margin: 20px 0;
  }
  .e-stocks-card {
    margin-bottom: 20px;
    padding: 20px;
  }
  .e-stocks-card__title {
    margin: 15px 0;
  }
  .e-stocks__cards {
    padding: 0;
  }
  .e-stocks {
    padding-bottom: 30px;
  }
  .e-subservice__image {
    max-width: 100%;
    height: auto;
    max-height: 400px;
  }
  .e-breadcrumps {
    position: relative !important;
  }
  .e-subservice__content {
    padding: 0 0 20px 0;
  }
  .e-subservice__title {
    margin-bottom: 20px;
  }
  .e-subservice__text {
    margin-bottom: 20px;
  }
  .e-subservice__button {
    font-size: 22px;
  }
  .e-subservices {
    padding: 30px 0;
  }
  .e-subservices__title {
    margin-bottom: 20px;
  }
  .e-header__toggle {
    img,
    svg {
      max-width: 50px;
      max-height: 50px;
    }
  }
  .subservice__title {
    font-size: 32px;
  }
  .e-subservice__info {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: none;
    background: transparent;
  }
  .e-subservice__card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    padding: 20px 10px;
    box-shadow: 0 2px 24px 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: #ffffff;
  }
  .e-why {
    padding: 30px 0;
  }
  .e-why__title {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .e-why-card {
    min-height: auto;
    padding: 30px 20px;
  }
  .e-subservice__card:first-child {
    border: 0;
  }
  .e-cases .swiper-button-next,
  .e-cases .swiper-button-prev {
    top: 100px !important;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .e-about__main {
    margin: 10px 0;
    padding: 30px 20px;
    border-radius: 5px 0 0 5px;
    background-image: linear-gradient(to right, #0d78ff 0%, #54a2ff 100%);
    &:after {
      display: none;
    }
  }
  .e-page__title {
    font-size: 32px;
  }
  .e-about__content {
    padding: 0;
  }
  .e-about__image {
    height: 400px;
    margin: 20px 0 0 0;
    &:after {
      display: none;
    }
  }
  .e-whywe__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .e-whywe {
    padding: 30px 0;
  }
  .e-whywe__button {
    margin-bottom: 20px;
  }
  .e-case {
    flex-flow: column nowrap;
    box-shadow: none;
    background: transparent;
  }
  .e-case-card {
    display: flex;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 30px 20px;
    box-shadow: 0 10px 34px 1px rgba(0, 0, 0, 0.1);
  }
  .e-case-content h1 {
    font-size: 50px;
  }
  .e-case-card_light {
    background: #ffffff;
  }
  .e-case-card__price {
    margin: 0;
  }
  .e-case-card__title {
    margin-bottom: 20px;
  }
  .e-case-card__card {
    margin-bottom: 20px;
  }
  .e-gallery {
    padding: 30px 0;
  }
  .e-gallery .swiper-slide-active .e-gallery-card {
    height: 300px;
  }
  .e-gallery .swiper-button-next,
  .e-gallery .swiper-button-prev {
    top: 48%;
  }
  .e-gallery .swiper-button-prev {
    left: 10px;
  }
  .e-gallery .swiper-button-next {
    right: 10px;
  }
  .e-case-content {
    padding: 30px 0;
  }
  .e-case-content h1,
  .e-case-content h2,
  .e-case-content h3,
  .e-case-content h4,
  .e-case-content h5,
  .e-case-content h6 {
    margin-bottom: 20px;
  }
  .e-case-content hr {
    margin: 20px 0;
  }
  .e-case-content blockquote {
    padding: 20px 15px;
    font-size: 20px;
  }
  #map {
    position: relative !important;
    height: 400px;
  }
  .e-contacts {
    padding: 0;
    &__content {
      margin: 20px 0;
    }
  }
  .e-home {
    background-image: linear-gradient(to right, #072a7c 0%, #047fbb 100%);
    &__video {
      display: none;
    }
  }
  .e-home__title {
    max-height: 100%;
  }
  .e-home__text {
    max-height: 100%;
  }
  .e-header__wrap {
    padding: 10px;
  }
  .e-header__nav > li > a {
    padding: 12px;
  }
  .e-header__button {
    margin: 10px 0 0 0;
  }
  .e-home-help {
    margin: 0;
    padding: 30px 0;
  }
  .e-cases__big-card {
    align-items: flex-start;
  }
  .e-cases__title {
    margin-bottom: 15px;
  }
  .e-cases .swiper-button-next, .e-cases .swiper-button-prev {
    display: inline-block !important;
    margin: 5px !important;
    position: relative;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }
  .e-team__view-card-image {
    margin: 10px 0;
    &:before,&:after {
      display: none;
    }
  }
  .e-home-help {
    background: #f8f8f8;
  }
}
